/* stylesheet for sql-ledger */

/* general stuff */
a:link { color: #1BB3DC; text-decoration: none; }
a:visited { color: #1BB3DC; text-decoration: none; }
a:active { color: #1BB3DC; text-decoration: underline; border: 1px #6495ED;   }
/*A:hover { color: white;
  background-color: #bbbbbb;
  text-decoration: none;
}*/

body {
  font-family: "museo-sans-1","museo-sans-2",sans-serif;
  font-size: 13px;
  background-color: white;
  color: #333333;
}

td {
  font-family: "museo-sans-1","museo-sans-2",sans-serif;
  font-size: 13px;
}

th {
  font-family: "museo-sans-1","museo-sans-2",sans-serif;
  font-size: 13px;
}

/* bill */
html body.bill {
    background: none repeat scroll 0 0 #FFFFFF;
}
.bill h2 {
    font-size: 16px;
    font-weight: bold;
    margin: 20px 0;
}
.bill h2 p {
    font-size: 13px;
    letter-spacing: 0.1em;
    margin-top: 10px;
    text-transform: uppercase;
}
.bill table {
    margin: 0 auto;
}
.bill table th {
    border-bottom: 2px solid #000000;
    border-right: 4px solid #FFFFFF;
    font-weight: bold;
    padding: 20px 2px 5px;
}
.bill table th:first-child {
    border-bottom: 2px solid #000000;
    border-right: 4px solid #FFFFFF;
    font-weight: bold;
    padding: 20px 2px 5px;
    text-align: left;
}
.bill table td {
    border-bottom: 1px solid #CCCCCC;
    border-right: 4px solid #FFFFFF;
    padding: 5px 2px;
}
.bill a {
    color: black;
}

/* login and admin */
.login {
  font-family: "museo-sans-1","museo-sans-2",sans-serif;
}
h1.login {
  font-size: 10px;
}
th.login {
  text-align: right;
}

body.admin {
  background-color: #FBFFE7;
  color: black;
}

table.login td.login a img, center a img {
    display: none;
}

.company_logo_envelop {
    width: 100%;
    height: 100%;
    background: url("../images/rma/login_background.jpg") no-repeat scroll right bottom transparent;
}

a.roadmapref {
	font-size: 10px;
	font-style: italic;
}

a.mainpageref {
    background: url("../images/rma/logo-run-my-accounts.gif") no-repeat scroll center top transparent;
    display: block;
    height: 127px;
    width: 248px;
}

table.login {
    overflow: hidden;
}

table.login, tr, td, form, tbody {
    border: medium none;
}

/* menu stuff */
body.menu {
  font-family: "museo-sans-1","museo-sans-2",sans-serif;
  font-size: 13px;
  color: black;
  background: white;
}

.menuOpen {
	
  background-image: url("menu_open.png");
  background-repeat:no-repeat;
  background-position: right top;
	
  line-height: 14px;
  cursor: pointer;
  font-size: 13px;
  color: #FFFFFF;
  text-align: left;
  padding: 7px 10px 7px;
}

.menuClose {
	
  background-image: url("menu_close.png");
  background-repeat:no-repeat;
  background-position: right top;
	
  line-height: 14px;
  cursor: pointer;
  font-size: 13px;
  color: #53626A;
  text-align: left;
  padding: 7px 10px 7px;
}

.menuLink {
  font-size: 13px;
  color: #53626A;
  text-align: left;
  padding: 7px 10px 7px;
}

.menuLink:HOVER {
  font-size: 13px;
  color: #53626A;
  text-align: left;
  padding: 7px 10px 7px;
}

.menu .menuClose, .menu .menuClose  {
	border-top: 1px solid #53626A;
}

.submenu .menuClose  {
	border-top: 1px solid #C3D2DA;	
	margin: 0 0 0 4px;
}

.submenu .menuClose:first-child  {
	border-top: medium none;	
	margin: 0 0 0 4px;
}

.submenu .menuOpen  {
	border: none;	
	margin: 0 0 0 4px;
}

.submenu, .submenu:HOVER {
  padding-left: 8px;
  margin: 4px 0;
}

.menu .menuLink {
	border-top: 1px solid #53626A;
}

.submenu .menuLink {
  margin: 0;
  border: none;	
  font-weight: normal;
  padding-left: 14px;
  background: url("submenu_lines.png") no-repeat scroll 0 -20px transparent;
}

.submenu .activeTrail {
  font-weight: normal;
  padding-left: 14px;
  background: url("submenu_lines.png") no-repeat scroll 0 -2px transparent;
}

.submenu a, .menuLink a, .submenu a:VISITED, .menuLink a:VISITED {
   color: #53626A;
}

.submenu a:HOVER, .menuLink a:HOVER {
   color: #1BB3DC;
}

.activeTrail a, .activeTrail a:HOVER, .activeTrail a:VISITED {
   color: #1BB3DC;
}

.listheading { 
	font-size: 13px; 
	background-color: #EEEEEE;
	color: #53626A; 
	padding: 2px;
	height: 24px;
}

.sectionheading {
	font-size: 13px; 
	background-color: #CCCCCC;
	color: #53626A; 
	padding: 2px;
	height: 24px;
}

.listtop { 
    font-family: "museo-sans-1","museo-sans-2",sans-serif;
	font-size: 20px; 
	background-color: white; 
	color: #53626A; 
	text-align: left;
	font-weight: normal;
	border-bottom: 1px solid #53626A;
	padding: 10px 5px;
}

A.listheading:link, A.listheading:active, A.listheading:visited {
  color: #53626A;
  text-decoration: none; 
}

.listrow1 td, .listrow0 td {
	border-bottom: 1px solid #CCCCCC;
    border-left: 4px solid #FFFFFF;
    padding: 5px 2px;
}

.listrow1 td a, .listrow0 td a {
	color: 009FE3;
}

.listsubtotal { 
	font-size: 13px; 
	color: black;
	font-weight: bold;
}

.listtotal { 
	font-size: 13px; 
	color: black; 
	font-weight: bold;
}

textarea {
  font-family: "museo-sans-1","museo-sans-2",sans-serif;
  font-size: 13px;
}

input {
  font-family: "museo-sans-1","museo-sans-2",sans-serif;
  font-size: 13px;
}

table input, table textarea {
    border-radius: 3px 3px 3px 3px;
}

table input:hover, table input:focus, table textarea:hover, table textarea:focus {

	background: #EEEEEE;
    
    /* Mozilla: */
    background: -moz-linear-gradient(top, #DDDDDD, #EEEEEE);
    /* Chrome, Safari:*/
    background: -webkit-gradient(linear,
                left top, left bottom, from(#DDDDDD), to(#EEEEEE));
    /* MSIE */
    filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#DDDDDD', EndColorStr='#EEEEEE', GradientType=0);
                
    border: 1px solid #009FE3;
    color: #000000;
}

input, textarea {
    border: 1px solid #888888;
    padding: 2px;
}

select {
    font-family: "museo-sans-1","museo-sans-2",sans-serif;
    font-size: 13px;
}

.submit, .login input submit {
  font-family: "museo-sans-1","museo-sans-2",sans-serif;
  font-size: 13px;
  color: white;
  
  background: #1BB3DC;
    
  /* Mozilla: */
  background: -moz-linear-gradient(top, #61CEFB, #1BB3DC);
  /* Chrome, Safari:*/
  background: -webkit-gradient(linear,
                left top, left bottom, from(#61CEFB), to(#1BB3DC));
  /* MSIE */
  filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#61CEFB', EndColorStr='#1BB3DC', GradientType=0);

  border: medium none;
  text-decoration: none;
  cursor: pointer;
  padding: 4px;
}

.submit:HOVER {
  background: #0BA3CC;
    
  /* Mozilla: */
  background: -moz-linear-gradient(top, #51BEEB, #0BA3CC);
  /* Chrome, Safari:*/
  background: -webkit-gradient(linear,
                left top, left bottom, from(#51BEEB), to(#0BA3CC));
  /* MSIE */
  filter: progid:DXImageTransform.Microsoft.Gradient(
                StartColorStr='#51BEEB', EndColorStr='#0BA3CC', GradientType=0);
}

.checkbox, .radio {
  font-family: "museo-sans-1","museo-sans-2",sans-serif;
  font-size: 13px;
}

.plus0 {    /* font color for negative numbers */
  background-color: #AF2139;
  color: white;
  padding: 2px 10px;
}

.plus1 {
  background-color: green;
  color: white;
  padding: 2px 10px;
}

h2.confirm {
  color: #333333;
  font-size: 13px;
}

h2.error {
  background-color: red;
  color: white;
  padding: 2px 10px;
}


/* media stuff */

@media screen {
  .noscreen {   /* items with this class won't display */
    display: none;
  }
}

@media print {
  .noprint {   /* items with this class won't print */
    display: none;
  }
}

.service_portal_warning {
	font-size: 16px;
	font-weight: bold;
}

.service_portal_warning a {
	color: black;
	text-decoration: underline;
}

.dberror {
	display: none;
}

.redirectmsg { color: white; background: #009ED9; padding: 2px 0px; }

---------------------------------------------------------------------------
