<body bgcolor=ffffff>

<table width=640>
       <tr>
           <td>  </td>
          <td align=center>

<table width=90%>
       <tr>
           <td align=center>
<font size=1>
 ÷ÎÉÍÁÎÉÅ! ïÐÌÁÔÁ ÄÁÎÎÏÇÏ ÓÞÅÔÁ ÏÚÎÁÞÁÅÔ
ÓÏÇÌÁÓÉÅ Ó ÕÓÌÏ×ÉÑÍÉ ÐÏÓÔÁ×ËÉ ÔÏ×ÁÒÁ.
õ×ÅÄÏÍÌÅÎÉÅ ÏÂ ÏÐÌÁÔÅ ÏÂÑÚÁÔÅÌØÎÏ,
× ÐÒÏÔÉ×ÎÏÍ ÓÌÕÞÁÅ ÎÅ ÇÁÒÁÎÔÉÒÕÅÔÓÑ
ÎÁÌÉÞÉÅ ÔÏ×ÁÒÁ ÎÁ ÓËÌÁÄÅ. ôÏ×ÁÒ
ÏÔÐÕÓËÁÅÔÓÑ ÐÏ ÆÁËÔÕ ÐÒÉÈÏÄÁ ÄÅÎÅÇ
ÎÁ Ò/Ó ðÏÓÔÁ×ÝÉËÁ, ÓÁÍÏ×Ù×ÏÚÏÍ.
</font>
          </td>
        </tr>
       </table>

          </td>
        </tr>
       <tr>
           <th colspan=3>
ïÂÒÁÚÅÃ ÚÁÐÏÌÎÅÎÉÑ ÐÌÁÔÅÖÎÏÇÏ ÐÏÒÕÞÅÎÉÑ
          </th>
      </tr>
          <tr>
         <td>  </td>
        <td>

<table width=100% border=1 cellpadding=3 cellspacing=0>
       <tr>
           <td>
ðÏÌÕÞÁÔÅÌØ<br>
<%company%>
          </td>
           <td width=1%>
_______<br>
óÞ. No
          </td>
           <td width=1%>
<br>
40802810701010000976 
          </td>
        </tr>
       <tr>
           <td>
âÁÎË ÐÏÌÕÞÁÔÅÌÑ<br>
ïáï "îâä-âÁÎË" Ç. î.îÏ×ÇÏÒÏÄ
          </td>
             <td>
<u><nobr>
âéë___</u><br>
óÞ. No
          </td>
           <td>
42202705<br>
30101810400000000705
          </td>
      </tr>
       </table>


          </td>
        </tr>
       <tr>
           <td>  </td>
          <td colspan=3>
<br>
            <h3>óþåô  N 000<%ordnumber%>   ÏÔ <%orddate%></h3>
<hr>
          </th>
        </tr>
  <tr>
    <td width=10> </td>

    <td>
      <table width=100%>
        <tr>
          <td>
            ðÏÓÔÁ×ÝÉË: <b><%company%></b>
        <br>ðÏËÕÐÁÔÅÌØ:<b> <%name%></b>
             </td>
        </tr>

       </table>
    </td>
  </tr>

  <tr>
    <td> </td>
  
    <td>
      <table border=1  width=100% cellpadding=2 cellspacing=0>
        <tr>
          <th>No.</th>
          <th width=90%>ôÏ×ÁÒ</th>
          <th>ëÏÌ-×Ï</th>
          <th>åÄ.</th>
          <th>ãÅÎÁ</th>
          <th>óÕÍÍÁ</th>
        </tr>

         <%foreach number%>
        <tr valign=top>
           <td align=right><%runningnumber%></td>
           <td><%description%></td>
          <td align=right><%qty%></td>
          <td align=center>ÛÔ.</td>
          <td align=right><%sellprice%></td>
          <td align=right><%linetotal%></td>
         </tr>
        <%end number%>

        <tr>
          <th colspan=5 align=right>éÔÏÇÏ:</th>
          <th align=right><%subtotal%></th>
        </tr>

      </table>
    </td>
  </tr>

        </tr>
         <tr>
        <td>  </td>
        <td>
        </tr>

         <tr>
        <td>  </td>
        <td>

       <table width=100%>
         <tr>
        <td colspan=2>
<nobr>÷ÓÅÇÏ ÎÁÉÍÅÎÏ×ÁÎÉÊ ___, ÎÁ ÓÕÍÍÕ <%subtotal%> ÒÕÂ.
 </td>
        </tr>
         <tr>
        <th colspan=2 align=left>
 <%text_amount%>
 </th>
        </tr>
            <tr>
        <th colspan=2>
<hr height=1>
 </th>
        </tr>
          <tr>
        <th width=50% align=left>
<nobr>òÕËÏ×ÏÄÉÔÅÌØ ______________________________
 </th>
        <th align=right>
<nobr>âÕÈÇÁÌÔÅÒ ______________________________
        </th>
        </tr>
        </table>
  
  </td>
  </tr>
      </table>

</table>

</body>
</html>
