
<body bgcolor=ffffff>

<table width=640>
       <tr>
           <td>&nbsp; </td>
          <td align=right>

<table width=50%>
       <tr>
           <td align=right>
<font size=1>
            ðÒÉÌÏÖÅÎÉÅ N 1
Ë ðÒÁ×ÉÌÁÍ ×ÅÄÅÎÉÑ ÖÕÒÎÁÌÏ×
ÕÞÅÔÁ ÐÏÌÕÞÅÎÎÙÈ É
×ÙÓÔÁ×ÌÅÎÎÙÈ ÓÞÅÔÏ×-ÆÁËÔÕÒ,
ËÎÉÇ ÐÏËÕÐÏË É ËÎÉÇ ÐÒÏÄÁÖ ÐÒÉ
ÒÁÓÞÅÔÁÈ ÐÏ ÎÁÌÏÇÕ ÎÁ
ÄÏÂÁ×ÌÅÎÎÙÕÀ ÓÔÏÉÍÏÓÔØ,
ÕÔ×ÅÒÖÄÅÎÎÙÍ ÐÏÓÔÁÎÏ×ÌÅÎÉÅÍ
ðÒÁ×ÉÔÅÌØÓÔ×Á
òÏÓÓÉÊÓËÏÊ æÅÄÅÒÁÃÉÉ
ÏÔ 2 ÄÅËÁÂÒÑ 2000 Ç. N 914
(× ÒÅÄÁËÃÉÉ ÐÏÓÔÁÎÏ×ÌÅÎÉÑ
ðÒÁ×ÉÔÅÌØÓÔ×Á òÏÓÓÉÊÓËÏÊ æÅÄÅÒÁÃÉÉ
ÏÔ 15 ÍÁÒÔÁ 2001 Ç. N 189)
</font>
          </td>
        </tr>
       </table>

          </td>
        </tr>
       <tr>
           <td>&nbsp; </td>
          <td colspan=3>
            <h3>óþåô-æáëôõòá  N 000<%invnumber%>   ÏÔ <%invdate%></h3>
          </th>
        </tr>
  <tr>
    <td width=10>&nbsp;</td>

    <td>
      <table width=100%>
        <tr>
          <td>
            ðÒÏÄÁ×ÅÃ: <%company%>
        <br>áÄÒÅÓ: <%address%>
        <br>éÄÅÎÔÉÆÉËÁÃÉÏÎÎÙÊ ÎÏÍÅÒ ÐÒÏÄÁ×ÃÁ (éîî): &nbsp;
        <br>çÒÕÚÏÏÔÐÒÁ×ÉÔÅÌØ É ÅÇÏ ÁÄÒÅÓ: ïÎ ÖÅ
        <br>çÒÕÚÏÐÏÌÕÞÁÔÅÌØ É ÅÇÏ ÁÄÒÅÓ: <%shiptoname%>
        <br>ë ÐÌÁÔÅÖÎÏ-ÒÁÓÞÅÔÎÏÍÕ ÄÏËÕÍÅÎÔÕ: &nbsp; ÏÔ  &nbsp;
        <br>ðÏÌÕÞÁÔÅÌØ: <%name%>
        <br>áÄÒÅÓ: <%address1%>
        <br>éÄÅÎÔÉÆÉËÁÃÉÏÎÎÙÊ ÎÏÍÅÒ ÐÏËÕÐÁÔÅÌÑ (éîî): &nbsp;
             </td>
        </tr>

       </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
  
    <td>
      <table border=1  width=100% cellpadding=2 cellspacing=0>
        <tr>
          <td align=center width=90%><font size=1>îÁÉÍÅÎÏ×ÁÎÉÅ ÔÏ×ÁÒÁ (ÏÐÉÓÁÎÉÅ  ×ÙÐÏÌÎÅÎÎÙÈ ÒÁÂÏÔ, ÏËÁÚÁÎÎÙÈ ÕÓÌÕÇ)</font></td>
          <td align=center><font size=1>åÄÉ- ÎÉÃÁ<br>ÉÚ-<br>ÍÅ-<br>ÒÅ-<br>ÎÉÑ</font></td>
          <td align=center><font size=1>ëÏ-<br>ÌÉ-<br>ÞÅÓ-<br>Ô×Ï</font></td>
          <td align=center><font size=1>ãÅÎÁ (ÔÁÒÉÆ) ÚÁ ÅÄÉÎÉÃÕ ÉÚÍÅÒÅÎÉÑ</font></td>
          <td align=center><font size=1>óÔÏÉÍÏÓÔØ ÔÏ×ÁÒÏ× (ÒÁÂÏÔ, ÕÓÌÕÇ), ×ÓÅÇÏ ÂÅÚ ÎÁÌÏÇÁ</font></td>
          <td align=center><font size=1>÷ ÔÏÍ ÞÉÓÌÅ ÁËÃÉÚ</font></td>
          <td  align=center><font size=1>îÁÌÏ- ÇÏ×ÁÑ ÓÔÁ×ËÁ</font></td>
          <td  align=center><font size=1>óÕÍÍÁ ÎÁÌÏÇÁ</font></td>
          <td align=center><font size=1>óÔÏÉÍÏÓÔØ ÔÏ×ÁÒÏ× (ÒÁÂÏÔ, ÕÓÌÕÇ), ×ÓÅÇÏ Ó ÕÞÅÔÏÍ ÎÁÌÏÇÁ</font></td>
          <td  align=center><font size=1>óÔÒÁÎÁ<br>ÐÒÏÉÓ<br>ÈÏÖ-<br>ÄÅÎÉÑ</font></td>
          <td  align=center><font size=1>îÏÍÅÒ ÇÒÕÚÏ×ÏÊ ÔÁÍÏ-<br>ÖÅÎÎÏÊ ÄÅËÌÁ-<br>ÒÁÃÉÉ</font></td>
        </tr>

         <tr>
          <td align=center>1</td>
          <td align=center>2</td>
          <td align=center>3</td>
          <td align=center>4</td>
          <td align=center>5</td>
          <td align=center>6</td>
          <td align=center>7</td>
          <td align=center>8</td>
          <td align=center>9</td>
          <td align=center>10</td>
          <td align=center>11</td>
        </tr>

        <%foreach number%>
        <tr valign=top>
           <td><font size=1><%description%></font></td>
          <td align=center>ÛÔ.</td>
          <td align=right><%qty%></td>
          <td align=right><%sellprice%></td>
          <td align=right><%linetotal%></td>
          <td align=right>&nbsp;</td>
          <td align=right>&nbsp;</td>
          <td align=right>&nbsp;</td>
          <td align=right><%linetotal%></td>
          <td><font size=1>&nbsp;</font></td>
          <td align=right><font size=1>&nbsp;</font></td>
        </tr>
        <%end number%>

        <tr>
          <th colspan=7 align=right>÷ÓÅÇÏ Ë ÏÐÌÁÔÅ</th>
          <td align=right>&nbsp;</td>
          <td align=right><%subtotal%></td>
          <td colspan=2>&nbsp;</td>
        </tr>

 
      </table>
    </td>
  </tr>

        </tr>
         <tr>
        <td>&nbsp; </td>
        <td>
        </tr>

         <tr>
        <td>&nbsp; </td>
        <td>

       <table width=100%>
         <tr>
        <td width=50%>
<nobr>òÕËÏ×ÏÄÉÔÅÌØ ÏÒÇÁÎÉÚÁÃÉÉ ____________________
 </td>
        <td align=right>
<nobr>çÌÁ×ÎÙÊ ÂÕÈÇÁÌÔÅÒ ____________________
        </tr>
        </table>
  
  </td>
  </tr>
      </table>

</table>

</body>
</html>

