<body bgcolor=ffffff>

<table width=100%>
  <tr>
    <td width=10>&nbsp;</td>

    <td>
      <table width=100%>
        <tr>
          <td>
            <h4>
            <%company%>
        <br><%address%>
            </h4>
          </td>

          <th><img src=sql-ledger.png border=0 width=84 height=58></th>

          <td align=right>
            <h4>
            é»è©±ï¼ <%tel%>
        <br>å³çï¼ <%fax%>
            </h4>
          </td>
        </tr>

        <tr>
          <th colspan=3>
	    <hr noshade><br>
            <h4>å·¥æå¡</h4>
          </th>
        </tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td>
      <table width=100% callspacing=0 cellpadding=0>
        <tr valign=top>
	  <td>
	    <table>
	      <tr>
		<th align=left>è·å¡</th>
		<td><%employee%></td>
	      </tr>
	      <tr>
		<th align=left>ç·¨è</th>
		<td><%employee_id%></td>
	      </tr>
	    </table>
	  </td>
   
	  <td align=right>
	    <table>
	      <tr>
		<th align=left nowrap>å¡è</th>
		<td><%id%></td>
	      </tr>
	      <tr>
		<th align=left nowrap>ä¸ç­æ¥æ</th>
		<td><%transdate%></td>
	      </tr>
	      <tr>
		<th align=left nowrap>ä¸ç­æé</th>
		<td><%checkedin%></td>
	      </tr>
              <tr>
                <th align=left>ä¸ç­æé</th>
		<td><%checkedout%></td>
	      </tr>
	      <tr>
		<th align=left nowrap>å·¥ä½ææ¸</th>
		<td><%qty%></td>
	      </tr>
	    </table>
	  </td>
        </tr>
      </table>
    </td>
  </tr>

  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>
  
    <td>
      <table width=100%>
        <tr valign=bottom>
	  <td>
	    <table>
	      <tr valign=top>
	        <th align=left>æ¹æ¡/å·¥ä½ç·¨è</th>
		<td><%projectnumber%></td>
	      </tr>
	      <tr>
	        <th align=left>æè¦</th>
		<td><%projectdescription%></td>
	      </tr>
	      <tr valign=top>
	        <th align=left>åå·¥/æåä»£ç¢¼</th>
		<td><%partnumber%></td>
	      </tr>
	      <tr>
	        <th align=left>æè¦</th>
		<td><%description%></td>
	      </tr>
	    </table>
	  </td>
	  <td align=right>
	    <table>
	      <tr>
	        <th align=right>å®å¹</th>
		<td><%sellprice%></td>
	      </tr>
	      <tr>
		<th align=right>åè¨</th>
		<td><%total%></td>
	      </tr>
	    </table>
	  </td>
	</tr>
      </table>
    </td>
  </tr>

<%if notes%>
  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>

    <td>
      <%notes%>
    </td>
  </tr>
<%end notes%>

</table>

</body>
</html>

