
<body bgcolor=ffffff>

<table width=100%>
  <tr>
    <td width=10>&nbsp;</td>
    
    <td>
      <table width=100%>
	<tr valign=bottom>
	  <td>
	    <h4>
	    <%company%>
	    <br><%address%>
	    </h4>
	  </td>

	  <th><img src=http://www.runmyaccounts.com/images/sql-ledger.png border=0 width=64 height=58></th>

	  <td align=right>
	    <h4>
	    é»è©±ï¼ <%tel%>
	    <br>å³çï¼ <%fax%>
	    </h4>
	  </td>
	</tr>

	<tr>
	  <th colspan=3>
	    <h4>å·¥ä½å®</h4>
	  </th>
	</tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <td>
      <table width=100% callspacing=0 cellpadding=0>
	<tr bgcolor=000000>
	  <th align=left width=50%><font color=ffffff>è´</th>
	  <th align=left width=50%><font color=ffffff>ä»éå¾</th>
	</tr>

	<tr valign=top>
	  <td><%name%>
	  <br><%address1%>
	  <%if address2%>
	  <br><%address2%>
	  <%end address2%>
	  <br><%city%> <%state%>
          <br><%zipcode%>
	  <%if country%>
	  <br><%country%>
	  <%end country%>
          <br>
	  <%if contact%>
	  <br>è´ï¼ <%contact%>
	  <%end contact%>
	  <%if customerphone%>
	  <br>é»è©±ï¼ <%customerphone%>
	  <%end customerphone%>
	  <%if customerfax%>
	  <br>å³çï¼ <%customerfax%>
	  <%end customerfax%>
	  <%if email%>
	  <br><%email%>
	  <%end email%>
	  </td>

	  <td><%shiptoname%>
	  <br><%shiptoaddress1%>
	  <%if shiptoaddress2%>
	  <br><%shiptoaddress2%>
	  <%end shiptoaddress2%>
	  <br><%shiptocity%> <%shiptostate%>
          <br><%shiptozipcode%>
	  <%if shiptocountry%>
	  <br><%shiptocountry%>
	  <%end shiptocountry%>
	  <br>
          <%if shiptocontact%>
          <br><%shiptocontact%>
          <%end shiptocontact%>
	  <%if shiptophone%>
	  <br>é»è©±ï¼ <%shiptophone%>
	  <%end shiptophone%>
	  <%if shiptofax%>
	  <br>å³çï¼ <%shiptofax%>
	  <%end shiptofax%>
	  <%if shiptoemail%>
	  <br><%shiptoemail%>
	  <%end shiptoemail%>
	  </td>
	</tr>
      </table>
    </td>
  </tr>

  <tr height=5></tr>
  
  <tr>
    <td>&nbsp;</td>
    
    <td>
      <table width=100% border=1>
	<tr>
	  <th width=17% align=left nowrap>è¨å®ç·¨è</th>
	  <th width=17% align=left>è½è¨æ¥æ</th>
	  <th width=17% align=left>è¦æ±äº¤ä»æ¥æ</th>
	  <th width=17% align=left nowrap>é·å®äººå¡</th>
	  <th width=17% align=left nowrap>ä»éé»</th>
	  <th width=15% align=left nowrap>ä»éå¬å¸</th>
	</tr>

	<tr>
	  <td><%ordnumber%></td>
	  <td><%orddate%></td>
	  <td><%reqdate%></td>
	  <td><%employee%></td>
	  <td><%shippingpoint%>&nbsp;</td>
	  <td><%shipvia%>&nbsp;</td>
	</tr>
      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
 
    <td>
      <table width=100%>
	<tr bgcolor=000000>
	  <th align=right><font color=ffffff>èç¢¼</th>
	  <th align=left><font color=ffffff>èç¢¼</th>
	  <th align=left><font color=ffffff>æè¿°</th>
	  <th><font color=ffffff>æ¸é</th>
	  <th>&nbsp;</th>
           <th><font color=ffffff>ç®±</th>
	  <th><font color=ffffff>åºè</th>
	</tr>

	<%foreach number%>
	<tr valign=top>
          <td align=right><%runningnumber%>.</td>
	  <td><%number%></td>
	  <td><%description%></td>
	  <td align=right><%qty%></td>
	  <td><%unit%></td>
           <td><%bin%></td>
	  <td><%serialnumber%></td>
	</tr>
	<%end number%>

	<tr>
	  <td colspan=7><hr noshade></td>
	</tr>

      </table>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>

    <%if notes%>
    <td><%notes%></td>
    <%end notes%>
  </tr>
</table>

</body>
</html>


